<!DOCTYPE html>
<html>
<head>
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="./static/cs.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/20c5629a29.js" crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
        <div class="container" style="display:flex; justify-content:space-between;">
            <a class="navbar-brand" href="#">
              <h1><span><img src="./static/solar-panel.png" width="40" height="40"></span> <span style="font-family: 'Poppins', sans-serif; font-size:36px; line-height:0px;"> Solar Panel Detector </span></h1>
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ml-auto">
                    <a class="nav-link active" id="navitem1" href="#sectionwcu"><b>Home </b><span class="sr-only">(current)</span><i class="fa fa-home" style="font-size:18px"></i> </a>&nbsp;
                    <a class="nav-link" id="navitem2" href="#ems"><b>WHO WE ARE </b><i class="fa fa-search" style="font-size:18px"></i></a>&nbsp;&nbsp;
                    <a class="nav-link" id="navitem3" href="#dp"><b>WHAT WE DO </b><i class='fas fa-clipboard-list' style='font-size:18px'></i></a>&nbsp;&nbsp;
                    <a class="nav-link" id="navitem4" href="#fu"><b>Follow Us </b><i class="fa fa-telegram" style="font-size:18px"></i></a>&nbsp;&nbsp;
                </div>
            </div>

        </div>
    </nav>
    <div class="container col-5 col-md-5">
        <!-- <form action="/upload_image" method="post" enctype="multipart/form-data">
        <input type="file" id="file" accept="image/*" >
            <div class="img-area" data-img="">
                <i class='bx bxs-cloud-upload icon'></i>
                <h3>Upload Image</h3>
                <p>Image size must be less than <span>2MB</span></p>
            </div>
            <button type="submit">Upload Image</button>
        </form> -->

        <form action="/upload_image" method="post" enctype="multipart/form-data">
            <div class="img-area" data-img="">
                <i class='bx bxs-cloud-upload icon'></i>
                <h3>Upload Image</h3>
                <p>Image size must be less than <span>2MB</span></p>
            </div>
            <input class="select-image" type="file" name="image_file" accept="image/*" required>
            
            <button class="custom-button mb-3" type="submit">Upload Image</button>
        </form>
        
	</div>
    <div class="container col-4 col-md-4 mt-4  shadow p-8" style="height: 40vh; border-radius: 35px;">
    <h2 class="text-center mb-4">Result</h2>
    {% if predictions is defined %}
        <p>Predictions: {{ predictions }}</p>
    {% endif %}

    {% if predictions == 1 %}
            <h2 style="color: green;">Solar Panel is detected</h2>
    {% endif %}
    {% if predictions == 0 %}
            <h2 style="color: red;">Solar Panel is not detected</h2>
    {% endif %}
</div>
<script>
    const selectImage = document.querySelector('.select-image');
const imgArea = document.querySelector('.img-area');


selectImage.addEventListener('change', function () {
	const image = this.files[0]
	if(image.size < 2000000) {
		const reader = new FileReader();
		reader.onload = ()=> {
			const allImg = imgArea.querySelectorAll('img');
			allImg.forEach(item=> item.remove());
			const imgUrl = reader.result;
			const img = document.createElement('img');
			img.src = imgUrl;
			imgArea.appendChild(img);
			imgArea.classList.add('active');
			imgArea.dataset.img = image.name;
		}
		reader.readAsDataURL(image);
	} else {
		alert("Image size more than 2MB");
	}
})
    </script>
</body>

</html>